
.App{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100%;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: center;

}

.error{
    color: rgb(36, 30, 30);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}

.finder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}