<<<<<<< HEAD
.preLoader{
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: -4px -4px 0px #ff0101;
    background: repeating-linear-gradient(45deg, #e72828, #e72828 1px, white 2px, white 3px);
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 20%;
}
.gallery{
=======
.ImageGallery{
>>>>>>> 09d6505d4230b9b7a6e3fcec575abe59bdcdde0e
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    margin-top: 20px;
    list-style: none;
   padding: 10px;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100%;
}
=======
    width: 100%;
    height: 100%;
    margin: 50px auto 25px auto;
    padding: 0;
    list-style: none;
}
>>>>>>> 09d6505d4230b9b7a6e3fcec575abe59bdcdde0e
