.button__text{
    width: 250px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #ff0101;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 15px;  
    transition: background-color 0.3s ease-in-out;
}
.button__text:hover{
    background-color: #f88f8f;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


/* {
        this.setState({
            status: 'pending'
        });
    fetch(`https: //pixabay.com/api/?key=${this.KEY_PIXABAY}&q=${currentSearchValue}&image_type=photo&orientation=horizontal&per_page=12`)

        .then(response=> {
                if (response.ok) {
                    return response.json();
                }

                return Promise.reject(new Error(`Картинки з назвою ${currentSearchValue} не знайдено`));

            }) .then(searchResult=> {
                if (searchResult.hits.length===0) {
                    this.setState({
                        status: 'undefined'
                    });
            }

            else {
                this.setState({
                    status: 'success', searchResult
                });
        }

    }) .catch(error=> this.setState({
        error, status: 'error'
    }));
} */